
@{
    ViewBag.Title = "Profil";
}

<h2>Hello Admin</h2>
<div>
    <div>
        @Html.ActionLink("Manage professors", "Index", "HandlingProfessors")
    </div>
    <div>
        @Html.ActionLink("Manage students", "Index", "HandlingStudents")
    </div>
    <div>
        @Html.ActionLink("Manage branches", "Index", "Filieres")
    </div>
    <div>
        @Html.ActionLink("Manage levels", "Index", "Levels")
    </div>
   
    <div>
        @Html.ActionLink("Manage groupes", "Index", "HandlingGroupes")
    </div>
</div>

