@model List<realMiniProjet.Models.Entities.Groupe>
@using realMiniProjet.Models.Entities

@Scripts.Render("~/toutjquery")


    @Html.AntiForgeryToken()

    <div class="container-fluid">
        <h1>Mes groupes</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div>
            <table id="tblGrps" class="table table-bordered table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th align="left" class="productth">Classe</th>
                        @if (User.IsInRole("STUDENT"))
                        {
                            <th align="left" class="productth">Encadrant</th>
                        }
                        <th align="left" class="productth">Members</th>
                        <th align="left" class="productth"></th>
                        @if (User.IsInRole("PROFESSOR"))
                        {
                            <th align="left" class="productth">Sujet</th>
                        }
                        <th align="left" class="productth">Rapport</th>
                        @if (User.IsInRole("PROFESSOR"))
                        {
                            <th align="left" class="productth">Date de dépot</th>
                            <th></th>
                        }


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {
                        String classeName = item.Level.Nom_niveau + " " + item.Filiere.Nom_filiere;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => classeName)
                        </td>
                        @if (User.IsInRole("STUDENT"))
                        {
                            Entities entities = new Entities();
                            AspNetUser enc = entities.AspNetUsers.Find(item.Id_prof);
                            string encName = enc.FirstName + " " + enc.LastName;

                            <td>
                                @encName
                            </td>
                        }
                        <td class="col-md-2">
                            @Html.DropDownList("members" + item.Id, new SelectList(""), htmlAttributes: new { @class = "form-control", @id = "grp" + item.Id })

                        </td>
                        <td>
                            <button id="@item.Id" onclick='showMembers(this.id)' class="btn-sm btn-primary">show members</button>
                        </td>


                        @if (User.IsInRole("PROFESSOR") && item.Reports != null)
                        {
                            <td class="col-md-4">
                                @Html.DisplayFor(modelItem => item.Reports.FirstOrDefault().Sujet)
                            </td>
                            <td>
                                @Html.ActionLink("Download", "GetReport")
                            </td>
                        }
                        @if (User.IsInRole("STUDENT"))
                        {
                            <td>
                                @Html.ActionLink("UPLOAD", "GetReport", new { id = "" })
                            </td>
                        }


                        @if (User.IsInRole("PROFESSOR"))
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.Reports.FirstOrDefault().DateDepot)
                            </td>
                        }
                        @if (User.IsInRole("PROFESSOR"))
                        {
                            <td>
                                @Html.ActionLink("Archiver", "ArchiveReport","PROFESSOR", new { idGrp=item.Id}, null)
                            </td>
                        }



                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    @section Scripts{
        <script type="text/javascript">
        function showMembers(idGrp) {
            console.log("wooooooooow");
            var idList = 'grp' + idGrp;
            var select = document.getElementById(idList);
            //select.find('option').remove().end();
            console.log(select);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getMembers", "HandlingGroupes")',
                dataType: "json",
                data: { id: idGrp },
                success: function (data) {
                var items = '';
                console.log("successsssss");


                    $.each(data, function (index, item) {
                    var o = new Option(item.FirstName, item.FirstName);
                    /// jquerify the DOM object 'o' so we can use the html method
                        $(o).html(item.FirstName+" "+item.LastName);
                        select.append(o);
                        console.log(item.FirstName)
                        //select.append($("<option>").val(item.FirstName).text(item.FirstName));
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("errrrrr");
                }
            });
        }
        </script>
    }




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
