@model List<realMiniProjet.Models.Entities.Groupe>

@Scripts.Render("~/toutjquery")


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h1>Mes groupes</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div>
            <table id="tblGrps" class="table table-bordered table-striped table-responsive table-hover">
                <thead>
                    <tr>
                        <th align="left" class="productth">Classe</th>
                        <th align="left" class="productth">Members</th>
                        <th align="left" class="productth"></th>
                        <th align="left" class="productth">Délai</th>
                        <th align="left" class="productth">Rapport</th>
                        <th align="left" class="productth">Sujet</th>
                        <th align="left" class="productth">Date de dépot</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {
                        String classe = item.Level.Nom_niveau + " " + item.Filiere.Nom_filiere;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => classe)
                            </td>
                            <td>
                                @Html.DropDownList("members" + item.Id, new SelectList(""), htmlAttributes: new { @class = "form-control", @id = "grp" + item.Id })

                            </td>
                            <td>
                                <button id="@item.Id" onclick='showMembers(this.id)' class="btn-sm btn-primary">show members</button>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Delais)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reports.FirstOrDefault().Id_report)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reports.FirstOrDefault().Sujet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reports.FirstOrDefault().DateDepot)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    @section Scripts{
        <script type="text/javascript">
        function showMembers(idGrp) {
            console.log("wooooooooow");
            var idList = 'grp' + idGrp;
            var select = document.getElementById(idList);
            //select.find('option').remove().end();
            console.log(select);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("getMembers", "HandlingGroupes")',
                dataType: "json",
                data: { id: idGrp },
                success: function (data) {
                var items = '';
                console.log("successsssss");


                    $.each(data, function (index, item) {
                    var o = new Option(item.FirstName, item.FirstName);
                    /// jquerify the DOM object 'o' so we can use the html method
                        $(o).html(item.FirstName+" "+item.LastName);
                        select.append(o);
                        console.log(item.FirstName)
                        //select.append($("<option>").val(item.FirstName).text(item.FirstName));
                    });

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("errrrrr");
                }
            });
        }
        </script>
    }




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
